streamlit
pandas
torch==2.2.0
numpy
langchain
langchain-community
langchain-experimental
langsmith
huggingface_hub
transformers
sentencepiece
accelerate
tabulate
matplotlib
seaborn
fuzzywuzzy
python-Levenshtein
tqdm
requests
